#basic level

In [2]:
for i in range(11):
    print(i,end=" ")

012345678910

In [3]:
sum=0
list1=[1,2,3,4,5,6]
for i in list1:
    sum=sum+i
print('sum of all the no. inh a list is:',sum)

sum of all the no. inh a list is: 21

In [2]:
str1="ubaidarshad"
for i in range(len(str1)-1,-1,-1):
    print(str1[i],end=" ")

d a h s r a d i a b u

In [13]:
fact=1
n=int(input("enter the value"))
for i in range(n,0,-1):
    fact=fact*i
print(fact)

enter the value 4

24

In [17]:
m=int(input("please tell me which value of table you want"))
for i in range(1,11):
    print(m,"*",i,"=",m*i)

please tell me which value of table you want 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [19]:
count=0
count1=0
list_eo=[1,2,3,4,5,6,7,8,9,10,11]
for i in list_eo:
    if i%2==0:
        count+=1
    else:
        count1+=1
print("the no.of even values are:",count)        
print("the no.of odd values are:",count1)

the no.of even values are: 5
the no.of odd values are: 6

In [21]:
for i in range(1,6):
    print("square of number is:",i**2)

square of number is: 1
square of number is: 4
square of number is: 9
square of number is: 16
square of number is: 25

In [22]:
count=0
str3="bghyjiklopg"
for i in str3:
    count+=1
print(count)

11

In [23]:
sum=0
list6=[1,2,3,4,5,6,7,8,9]
for i in list6:
    sum=sum+i
print(sum/len(list6))

5.0

In [27]:
num=int(input("please give range for fabonacci series"))
n1=0
n2=1
print(n1,end=" ")
print(n2,end=" ")
for i in range(2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")

please give range for fabonacci series 10

0 1 1 2 3 5 8 13 21 34

#intermediate level

In [17]:
list_dup2=[]
list_dup=[1,2,3,4,5,6,5,4,7,4,1,2,3]
for i in list_dup:
    if i not in list_dup2:
        list_dup2.append(i)
    else:
        print(i,"duplicates found")

5 duplicates found
4 duplicates found
4 duplicates found
1 duplicates found
2 duplicates found
3 duplicates found

In [11]:
# num=int(input("please give range for prime number"))
# for i in range(num):
#     for j in range(2,int(num/2)+1):
#         if i<=0:
#             print(i,"not prime ")
#         elif i%j==0:
#             print(i,"not prime")
#             break
#     else:      
#         print("prime")

In [19]:
count=0
str3="ubaidarshad"
vowel="aeiou"
for i in str3:
    if i in vowel:
        count+=1
print(count)

5

In [23]:
count=0
lst4=[1,2,3,4,5,6,7,8,9]
for i in lst4:
        count+=1
print(count)

9

In [28]:
lst5=[1,2,3,4,5,6]
for i in lst5:
    if i==5:
        continue
    print(i)

1
2
3
4
6

In [32]:
for i in range(5,0,-1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [35]:
print("the temp.in farhenheit is:")
lst6=[10,20,30,50,47.04]
for i in lst6:
    print((1.8*i)+32)

the temp.in farhenheit is:
50.0
68.0
86.0
122.0
116.672

In [36]:
ls1=[1,2,3,4,5]
ls2=[4,5,6,7,8]
for i in ls1:
    for j in ls2:
        if i==j:
            print(i)

4
5

In [51]:
num=5
for i in range(1,num):
    for j in range(1,num+1):
        if i>=j:
            print("*",end="")
    print()

*
**
***
****

In [2]:
import math
a,b=10,6
math.gcd(a,b)

2

#advance level

In [1]:
sum=0
list_sum1=[1,2,3,4,5]
for i in list_sum1:
    sum=sum+i
print(sum)

15