#question on strings

In [1]:
#ques1
str1="you are good"
str1[::-1]

'doog era uoy'

In [7]:
#ques2
str2=input("enter the string")
str3=str2[::-1]
if str3==str2:
    print(str2,"it is palindrome number")
else:
    print(str2,"not palindrome")

enter the string ubaid

ubaid not palindrome

In [9]:
#ques3
str4=str1.upper()
print(str4)

YOU ARE GOOD

In [10]:
#ques4
str5=str1.lower()
print(str5)

you are good

In [28]:
#ques5 and #ques6
count=0
count1=0
str6=input("enter the string")
str6=str6.lower()
for i in str6:
    if i=="a"or i=="e"or i=="i"or i=="o"or i=="u":
        count=count+1
    else:
        count1=count1+1
print("the number of vowels in a given string is:",count)
print("the number of consonants in a given string is:",count1)

enter the string ubaidarshad

the number of vowels in a given string is: 5
the number of consonants in a given string is: 6

In [34]:
#ques7
str7=input("enter the string")
str7.strip()

enter the string      ubaid

'ubaid'

In [36]:
#ques8
count=0
str8="ubaidarshad"
for i in str8:
    count=count+1
print(count)

11

In [1]:
#ques9
str9=input("enter a string")
for i in str9:
    if "c" in str9:
        print("character found")
        break
    else:
        print("character not found")

enter a string ubaidcbi

character found

In [5]:
#ques9
tr9=input("enter a string")
if "boy" in tr9:
    print("word found")
else:
    print("word not found")

enter a string ram is a good boy

word found

In [19]:
#ques10
str10="Ram is a good boy"
m=str10.replace("Ram","shyam")
print(m)

shyam is a good boy

In [3]:
#ques11
str11=input("enter the string you want:")
a=str11.count("dog")
print(a)

enter the string you want: there is a bautiful dog and i like dog very much

2

In [ ]:
#ques12

In [ ]:
#ques13

In [4]:
#ques14
str12="ram is a good boy"
u=str12.split(" ")
print(u)

['ram', 'is', 'a', 'good', 'boy']

In [7]:
#ques15
for i in u:
    print(i,end=" ")

ram is a good boy

In [2]:
#ques16
str13=input("enter a string")
var=str13.replace(" ","_ ")
print(var)

enter a string every action there is an equal and opp reaction

every_ action_ there_ is_ an_ equal_ and_ opp_ reaction

In [6]:
#ques17
str13.startswith("every")

True

In [9]:
#ques18
str13.endswith("equal")

False

In [10]:
#ques19
b=str13.title()
print(b)

Every Action There Is An Equal And Opp Reaction

In [12]:
#####ques20
a="there is a busy bug inside a peoples"
a=a.split(" ")
longest_word=max(a,key=len)
print(longest_word)

peoples

In [14]:
####ques 21
c="If have a beatutiful butterfly"
c=c.split(" ")
shortest_word=min(c,key=len)
print(shortest_word)

a

In [56]:
#ques 22
bh="you are great"
ah=bh[::-1]
print(ah)

taerg era uoy

In [57]:
#ques 23
bh.isalnum()

False

In [23]:
#q24
string="i have 2 basket in 3 house"
for i in string:
    if i.isdigit():
        print(i)

2
3

In [29]:
#q25
string="i have 2 basket in 3 house"
for i in string:
    if i.isalpha():
        print(i,end=" ")

i h a v e b a s k e t i n h o u s e

In [33]:
#q26
count=0
string2="I HAVE a Two String VoLvO"
for i in string2:
    if i.isupper():
        count=count+1
print(count)

10

In [34]:
#q27
count=0
string2="I HAVE a Two String VoLvO"
for i in string2:
    if i.islower():
        count=count+1
print(count)

10

In [ ]:
#q28

In [42]:
#q29
string3="my life my rules in this blank"
string3=string3.replace("my","")
print(string3)

 life  rules in this blank

In [21]:
#q30
string4="ubaidengg2019@gmail.com"
if string4.

ubaidengg2019@ is valid address

In [ ]:
#q31

In [ ]:
#q32

In [66]:
#q33
string5="There     is   little    boy  in   a    school"
# n=string5.replace("  "," ")
# print(n)
string5=string5.split()
print(string5)
n=" ".join(string5)
print(n)

['There', 'is', 'little', 'boy', 'in', 'a', 'school']
There is little boy in a school

In [ ]:
#q34

In [ ]:
#q35

In [75]:
######q36
count=0
string6="A very important work to do"
string6=string6.lower()
for i in string6:
    if ("a") in string6:
        count=count+1
print(count)

27

In [83]:
#q37
string7="a: is b! ;brother."
for i in string7:
    if i.isalpha():
        print(i,end=" ")

a i s b b r o t h e r

In [96]:
string="i have 2 basket in 3 house"
for i in string:
    if i.isdigit():
         print(i,"yes digit found")
    else:
        print(i,"it is other than digit")

i it is other than digit
  it is other than digit
h it is other than digit
a it is other than digit
v it is other than digit
e it is other than digit
  it is other than digit
2 yes digit found
  it is other than digit
b it is other than digit
a it is other than digit
s it is other than digit
k it is other than digit
e it is other than digit
t it is other than digit
  it is other than digit
i it is other than digit
n it is other than digit
  it is other than digit
3 yes digit found
  it is other than digit
h it is other than digit
o it is other than digit
u it is other than digit
s it is other than digit
e it is other than digit

In [95]:
string="i have 2 basket in 3 house"
for i in string:
    if i.isalpha():
         print(i,"yes alpha value found")
    else:
        print(i,"it is other than alpha")

i yes alpha value found
  it is other than alpha
h yes alpha value found
a yes alpha value found
v yes alpha value found
e yes alpha value found
  it is other than alpha
2 it is other than alpha
  it is other than alpha
b yes alpha value found
a yes alpha value found
s yes alpha value found
k yes alpha value found
e yes alpha value found
t yes alpha value found
  it is other than alpha
i yes alpha value found
n yes alpha value found
  it is other than alpha
3 it is other than alpha
  it is other than alpha
h yes alpha value found
o yes alpha value found
u yes alpha value found
s yes alpha value found
e yes alpha value found

In [97]:
#q40
for i in string

'i have 2 basket in 3 house'

In [104]:
#q41
strng1="listeninle"
strng2="listen"
strng_1=set(strng1)
strng_2=set(strng2)
if strng_1==strng_2:
    print("it is anagrams")
else:
    print("not anagrams")

it is anagrams

In [ ]:
#QUES 42

In [ ]:
#QUES 43

In [15]:
#QUES 44
count=0
string_1=input("enter the string")
string_2=string_1.split()
print(string_2,end=" ")
for i in string_2:
    if i.():
        count=count+1
print(count)

SyntaxError: invalid syntax (1909728132.py, line 7)

In [9]:
#q45
string_45=input("please enter the string")
str_45=string_45.split()
print(str_45)
str_45=set(str_45)
print("all unique words in a given string is :",str_45)

please enter the string hi people

['hi', 'people']
all unique words in a given string is : {'hi', 'people'}

In [ ]:
#q46

In [11]:
#q47
str47="hello@123!_9&7"
str47=list(str47)
print(str47)
for i in str47:
    if i.isalnum():
        print(i,"this is not special character")
    else:
        print(i,"is special character")

['h', 'e', 'l', 'l', 'o', '@', '1', '2', '3', '!', '_', '9', '&', '7']
h this is not special character
e this is not special character
l this is not special character
l this is not special character
o this is not special character
@ is special character
1 this is not special character
2 this is not special character
3 this is not special character
! is special character
_ is special character
9 this is not special character
& is special character
7 this is not special character

In [14]:
#q48
str48="ubaid is a good boy"
str48=str48.split()
print(str48)
str48.pop()
print (str48)

['ubaid', 'is', 'a', 'good', 'boy']
['ubaid', 'is', 'a', 'good']

In [13]:
#q49
str49="ram is a good"
print(str49)
str49=str49.split()
print(str49)
str49.append("boy")
print(str49)
for i in str49:
    print(i,end=" ")

ram is a good
['ram', 'is', 'a', 'good']
['ram', 'is', 'a', 'good', 'boy']
ram is a good boy

In [ ]:
#q50

#question on list(List Based Practice Problem :)

In [14]:
#ques1
lst1=[1,2,3,4,5,6,7,8,9,10]
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#ques2
count=0
for i in lst1:
    count=count+1
print(count)

10

In [18]:
#ques3
lst1.append(11)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11', 11]

In [19]:
#ques4
lst1.insert(3,3.5)
print(lst1)

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, '11', 11]

In [20]:
#ques5
lst1.remove("11")
print(lst1)

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11]

In [21]:
#ques6
lst1.remove(lst1[3])
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
#ques7
1 in lst1

True

In [3]:
#ques8
lst2=[1,2,3,4,5,6]
lst2.index(1)

0

In [8]:
#q9
len(lst2)

6

In [9]:
#q10
lst2[::-1]

[6, 5, 4, 3, 2, 1]

In [12]:
#q11
lst2.sort()
print(lst2)

[1, 2, 3, 4, 5, 6]

In [13]:
lst2.sort(reverse=True)
print(lst2)

[6, 5, 4, 3, 2, 1]

In [17]:
print("the list of even no. in given ranges is:")
for i in range(20):
    if i%2==0:
        print(i)

the list of even no. in given ranges is:
0
2
4
6
8
10
12
14
16
18

In [18]:
print("the list of odd no. in given ranges is:")
for i in range(20):
    if i%2!=0:
        print(i)

the list of odd no. in given ranges is:
1
3
5
7
9
11
13
15
17
19

In [20]:
lst_1=[21,52,32,56]
sum=0
for i in lst_1:
    sum=sum+i
print(sum)

161

In [21]:
max(lst_1)

56

In [22]:
min(lst_1)

21

In [24]:
for i in range(11):
    print(i,"=",i**2)

0 = 0
1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81
10 = 100

In [30]:
lst4=list(input("give some random no. to make a list:    "))
type(lst4)

give some random no. to make a list:     12.23,21,45,36,58,78

list

In [32]:
lst5=[1,2,3,4,2,4,6,8,7,8,9,8,7,2,3,45,63,36.,63,25,14,25,14,32,23,32]
print(lst5)
set(lst5)

[1, 2, 3, 4, 2, 4, 6, 8, 7, 8, 9, 8, 7, 2, 3, 45, 63, 36.0, 63, 25, 14, 25, 14, 32, 23, 32]

{1, 2, 3, 4, 6, 7, 8, 9, 14, 23, 25, 32, 36.0, 45, 63}

In [35]:
print(" difference between two list is:")
lst6=[1,2,3,5,6]
lst7=[7,8,9,5,6]
for i in lst6:
    for j in lst7:
        if i==j:
            print(i)

 difference between two list is:
5
6

In [38]:
lst8=[1,2,3,5,6]
lst9=[7,8,9,5,6]
lst10=[lst8+lst9]
print(lst10)

[[1, 2, 3, 5, 6, 7, 8, 9, 5, 6]]

In [3]:
lst8=[1,2,3,5,6]
[i*2 for i in lst8]

[2, 4, 6, 10, 12]

In [5]:
lst11=[1,2,3,4,58,65,24,32,12,11,87]
[i for i in lst11 if i%2!=0]

[1, 3, 65, 11, 87]

In [11]:
lst12=["7","8","9","4","5","6","1","2","3"]
[int(i) for i in lst12]

[7, 8, 9, 4, 5, 6, 1, 2, 3]

In [12]:
lst13=[1,2,3,45,89,78]
[str(i) for i in lst13]

['1', '2', '3', '45', '89', '78']

In [18]:
lst14=[[1,2,3],[4,5,6]]
[j for i in lst14 for j in i]

[1, 2, 3, 4, 5, 6]

In [ ]:
#fabonacci series

In [38]:
lst13=[1,2,3,45,89,78]
print(lst13)
lst15=lst13.copy()
lst15.sort()
print(lst15)
if lst13==lst15:
    print("sorted")
else:
    print("not sorted")

[1, 2, 3, 45, 89, 78]
[1, 2, 3, 45, 78, 89]
not sorted

In [40]:
#q31

In [ ]:
#q32

In [ ]:
#q33

In [48]:
#q34
lst13=[1,2,3,45,89,78]
[i for i in lst13]

[1, 2, 3, 45, 89, 78]

In [2]:
#q35
lst13=[1,2,3,45,89,78]
lst13.sort()
print(lst13[-2])

78

In [3]:
lst=[1,2,3,4,5,6]
[i**2 for i in lst]

[1, 4, 9, 16, 25, 36]

In [17]:
lst=[1,2,3,4,5,6]
# for i in lst:
#     # dic_key=i
#     # dic_value=lst.index(i)
#     # dic_1={dic_key:dic_value}
#     # print(dic_1)
dic_1=dict(enumerate(lst))
print(dic_1)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [21]:
import random
lst=[1,2,3,4,5,6]
random.shuffle(lst)
print(lst)

[4, 1, 2, 5, 3, 6]

In [24]:
# Check if two lists have at least one element in common.
print("the common in list is:")
ls1=[1,2,3,4,5,6]
ls2=[6,7,8,9,10,11]
for i in ls1:
    for j in ls2:
        if i==j:
            print(i)

the common in list is:
6

In [26]:
# Remove all elements from a list.
ls3=[6,7,8,9,10,11]
ls3.clear()
print(ls3)

[]

In [7]:
# #####42. Replace negative numbers in a list with 0.
# ls3=[-6,7,-8,9,10,11]
# for i in ls3:
#     if i<=0:
#         print(i,end=" ")

-6 -8

In [15]:
#43. Convert a string into a list of words.
string="ubaid arshad"
lis=list(string)
print(lis)

['u', 'b', 'a', 'i', 'd', ' ', 'a', 'r', 's', 'h', 'a', 'd']

In [16]:
#44. Convert a list of words into a string.
for i in lis:
    print(i,end="")

ubaid arshad

In [28]:
#45. Create a list of the first `n` powers of 2.
n=int(input("plz give n numbers"))

[2**i for i in range(n)]

plz give n numbers 5

[1, 2, 4, 8, 16]

In [25]:
#46. Find the longest string in a list of strings.
long=["apple","orange","pineapple","strawberry"]
print(max(long))

strawberry

In [26]:
#47. Find the shortest string in a list of strings.
print(min(long))

apple

In [29]:
#48. Create a list of the first `n` triangular numbers.

n=int(input("plz give n numbers"))

[3**i for i in range(n)]

plz give n numbers 5

[1, 3, 9, 27, 81]

In [13]:
# #49. Check if a list contains another list as a subsequence.
# l=[1,2,3,4,[5,8,9],7,5,3]
# for i in l:
#     if l.:
#         print("list as subsequence is present")
#     else:
#         print("not present")

In [52]:
# #50. Swap two elements in a list by their indices.
# l1=[1,2,3,4,5,6,78]
# for i in l1:
#     print(i,end=" ")
#     i[0]==i[5]
#     print(i,end=" ")

#Tuple Based Practice Problem :

In [56]:
# 1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
print(t)
type(t)

(1, 2, 3, 4, 5)

tuple

In [57]:
# 2. Access the third element of a tuple.
t=(1,2,3,4,5)
print(t[3])

4

In [58]:
# 3. Find the length of a tuple without using the `len()` function.
count=0
t=(1,2,3,4,5)
for i in t:
    count=count+1
print(count)

5

In [59]:
# 4. Count the occurrences of an element in a tuple.
t1=(1,2,3,4,5,6,7,8,7,8,9,5,2,3,5,7,7,4,8,7)
t1.count(7)

5

In [60]:
# 5. Find the index of the first occurrence of an element in a tuple.
t1=(1,2,3,4,5,6,7,8,7,8,9,5,2,3,5,7,7,4,8,7)
t1.index(7)

6

In [75]:
# 6. Check if an element exists in a tuple.
t1=(1,2,3,4,5,6,7,8,7,8,9,2,3,7,7,4,8,7)
for i in t1:
    if 5 in t1:
        print("present")
        break
    else:   
        print("not present")
        break

present

In [76]:
# 7. Convert a tuple to a list.
t1=(1,2,3,4,5,6,7,8,7,8,9,2,3,7,7,4,8,7)
list(t1)

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9, 2, 3, 7, 7, 4, 8, 7]

In [77]:
# 8. Convert a list to a tuple.
lst_tuple=[1,2,3,4,5,6]
tuple(lst_tuple)

(1, 2, 3, 4, 5, 6)

In [79]:
# 9. Unpack the elements of a tuple into variables.
t1=(1,2,3,4,5,6,7,8,7,8,9,2,3,7,7,4,8,7)
for i in t1:
    print(i,end=" ")

1 2 3 4 5 6 7 8 7 8 9 2 3 7 7 4 8 7

In [89]:
# 10. Create a tuple of even numbers from 1 to 10.
t2=(1,2,3,4,5,6,7,8,9,10)
for i in t2:
    if (i%2==0):
        print(i,end=" ")

2 4 6 8 10

In [90]:
# 11. Create a tuple of odd numbers from 1 to 10.
t2=(1,2,3,4,5,6,7,8,9,10)
for i in t2:
    if (i%2!=0):
        print(i,end=" ")

1 3 5 7 9

In [92]:
# 12. Concatenate two tuples.
print(t1+t2,end="")

(1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9, 2, 3, 7, 7, 4, 8, 7, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [93]:
# 13. Repeat a tuple three times.
t=(1,2,3,4,5)
print(t*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [97]:
# 14. Check if a tuple is empty.
t_check=()
if len(t_check)==0:
    print("empty tuple")

empty tuple

In [98]:
# 15. Create a nested tuple.
t_nested=(1,2,3,4,5,("apple","orange"),5,8)
print(t_nested)

(1, 2, 3, 4, 5, ('apple', 'orange'), 5, 8)

In [99]:
# 16. Access the first element of a nested tuple.
t_nested=(1,2,3,4,5,("apple","orange"),5,8)
t_nested[5][0]

'apple'

In [105]:
# 17. Create a tuple with a single element.
t_single=(1,)
print(t_single)
type(t_single)

(1,)

tuple

In [106]:
# 18. Compare two tuples.
t_1=(1,2,3,4)
t_2=(7,8,9,2)
t_1==t_2

False

In [2]:
# 19. Delete a tuple.
t_del=(1,2,3,4,5,6,7,8)
del t_del

In [6]:
# 20. Slice a tuple.
t_slice=(1,2,3,4,5,6)
t_slice[2:3]

(3,)

In [8]:
# 21. Find the maximum value in a tuple.
t1=(1,2,3,4,5,6,7,8,7,8,9,2,3,7,7,4,8,7)
max(t1)

9

In [9]:
# 22. Find the minimum value in a tuple.
t1=(1,2,3,4,5,6,7,8,7,8,9,2,3,7,7,4,8,7)
min(t1)

1

In [21]:
# 23. Convert a string to a tuple of characters.
str_tuple="ubaid"
tuple(str_tuple)

('u', 'b', 'a', 'i', 'd')

In [20]:
# 24. Convert a tuple of characters to a string.
tuple1=("u","b","a","i","d")
for i in tuple1:
    print(i,end="")

ubaid

In [24]:
# 25. Create a tuple from multiple data types.
tuple2=(1,2,3,"string",(1,2,3,"a",12.54,True),[7,8,9,"ghj"],False)
print(tuple2)
type(tuple2)

(1, 2, 3, 'string', (1, 2, 3, 'a', 12.54, True), [7, 8, 9, 'ghj'], False)

tuple

In [3]:
# 26. Check if two tuples are identical.
t_1=(1,2,3,4)
t_2=(7,8,9,2)
set1=set(t_1)
set2=set(t_2)
if set1==set2:
    print("identical tuples")
else:
    print("unidentical tuples")

unidentical tuples

In [10]:
# 27. Sort the elements of a tuple.
t_2=(7,8,9,2)
t_sort=tuple(sorted(t_2))
print(t_sort)

(2, 7, 8, 9)

In [9]:
# 28. Convert a tuple of integers to a tuple of strings.
tup_1=(1258746)
tp_2=tuple(str(tup_1))
print(tp_2,end=" ")

('1', '2', '5', '8', '7', '4', '6')

In [6]:
# 29. Convert a tuple of strings to a tuple of integers.
tp=('1', '2', '5', '8', '7', '4', '6')
tp_integer = tuple(int(i) for i in tp)
print(tp_integer)

(1, 2, 5, 8, 7, 4, 6)

In [13]:
# 30. Merge two tuples.
t_1=(1,2,3,4)
t_2=(7,8,9,2)
t_3=t_1+t_2
print(t_3)

(1, 2, 3, 4, 7, 8, 9, 2)

In [12]:
# 31. Flatten a nested tuple.
t_4=((1,2,3,4),(6,7,8,9))
[j for i in t_4 for j in i]

[1, 2, 3, 4, 6, 7, 8, 9]

In [38]:
# 32. Create a tuple of the first 5 prime numbers.
# for j in range(10):
#     if j>1:
#         for i in range(2,int(num/2)+1):
#             if j%i==0:
#                 print("")
#             else:
#                 print(,end="")

In [45]:
# 33. Check if a tuple is a palindrome.
ple=("rotor")
if ple[:]==ple[::-1]:
    print(ple,"is palindrome no.")
else:
     print(ple,"is not palindrome no.")

rotor is palindrome no.

In [8]:
# 34. Create a tuple of squares of numbers from 1 to 5.
tp_square=tuple(int(i**2)for i in range(1,6))
print(tp_square)

(1, 4, 9, 16, 25)

In [11]:
# 35. Filter out all even numbers from a tuple.
tuple1=(1,2,3,4,5,6,7,8,9,10)
tuple2=tuple(int(i) for i in tuple1 if i%2!=0)
print(tuple2)

(1, 3, 5, 7, 9)

In [12]:
# 36. Multiply all elements in a tuple by 2.
tuple1=(1,2,3,4,5,6,7,8,9,10)
tuple2=tuple(int(i*2) for i in tuple1)
print(tuple2)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [20]:
# 37. Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print (random_tuple)

(54, 20, 36, 79, 58, 95, 9, 45, 40, 78)

In [25]:
# 38. Check if a tuple is sorted.
tuple1=(1,2,8,9,5,6,7,4,3,10)
tuple_sorted=tuple(sorted(tuple1))
if (tuple_sorted==tuple1):
    print("sorted")
else:
     print("unsorted")

unsorted

In [ ]:
# 39. Rotate a tuple to the left by `n` positions.

In [ ]:
# 40. Rotate a tuple to the right by `n` positions.

In [ ]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [27]:
# 42. Create a tuple from user input.
user=tuple(input("please give values to tuple"))
print(user)

please give values to tuple 12345arshad

('1', '2', '3', '4', '5', 'a', 'r', 's', 'h', 'a', 'd')

In [1]:
# 43. Swap two elements in a tuple.
tuple1=(1,2,8,9,5,6,7,4,3,10)
temp=tuple1[2]
tuple(tuple1[2])=tuple(tuple1[5])
tuple(tuple1[5])=temp
print(tuple1)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1023322490.py, line 4)

In [1]:
# 44. Reverse the elements of a tuple.
tuple1=(1,2,8,9,5,6,7,4,3,10)
t=tuple1[::-1]
print(t)

(10, 3, 4, 7, 6, 5, 9, 8, 2, 1)

In [2]:
# 45. Create a tuple of the first `n` powers of 2.
le1=(1,2,8,9,5,6,7,4,3,10)
tuple(2**i for i in le1)

(2, 4, 256, 512, 32, 64, 128, 16, 8, 1024)

In [18]:
# 46. Find the longest string in a tuple of strings.
tple=("abcd","wertyui","qwertyuiop")
if len(tple[0])>len(tple[1]):
    print(tple[0],"longest")
elif len(tple[0])>len(tple[2]):
    print(tple[0],"longest")
elif len(tple[1])>len(tple[2]):
    print(tple[1],"longest")
else:
    print(tple[2],":is longest string in a tuple")

qwertyuiop :is longest string in a tuple

In [21]:
# 47. Find the shortest string in a tuple of strings.
tple=("abcd","wertyui","qwertyuiop")
if len(tple[0])<len(tple[1]):
    print(tple[0],":is shortest string in a tuple")
elif len(tple[0])<len(tple[2]):
    print(tple[0],":is shortest string in a tuple")
elif len(tple[1])<len(tple[2]):
    print(tple[1],":is shortest string in a tuple")
else:
    print(tple[2],":is shortest string in a tuple")

abcd :is shortest string in a tuple

In [22]:
# 48. Create a tuple of the first `n` triangular numbers.
le1=(1,2,8,9,5,6,7,4,3,10)
tuple(3**i for i in le1)

(3, 9, 6561, 19683, 243, 729, 2187, 81, 27, 59049)

In [28]:
# 49. Check if a tuple contains another tuple as a subsequence.
a=("a","b",1,23,(1,2,3),"y")
for i in a:
    if type(i) is tuple:
        print("present")
        break
    else:
        print("not present")

not present
not present
not present
not present
present

In [ ]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

#Set Based Practice Problem :

In [29]:
# 1. Create a set with integers from 1 to 5.
set1={1,2,3,4,6,5,9,8,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
# 2. Add an element to a set.
set1={1,2,3,4,6,5,9,8,7}
set1.add(11)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [39]:
# 3. Remove an element from a set.
set2={1,2,3,4,6,5,9,8,7}
set2.remove(9)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
# 4. Check if an element exists in a set.
set2={1,2,3,4,6,5,9,8,7}
5 in set2

True

In [42]:
# 5. Find the length of a set without using the `len()` function.
count=0
set2={1,2,3,4,6,5,9,8,7}
for i in set2:
    count=count+1
print(count)

9

In [44]:
# 6. Clear all elements from a set.
set3={1,2,3,4,6,5,9,8,7}
set3.clear()
print(set3)

set()

In [45]:
# 7. Create a set of even numbers from 1 to 10.
set3={1,2,3,4,6,5,9,8,7,10}
{i for i in set3 if i%2==0}

{2, 4, 6, 8, 10}

In [46]:
# 8. Create a set of odd numbers from 1 to 10.
set3={1,2,3,4,6,5,9,8,7,10}
{i for i in set3 if i%2!=0}

{1, 3, 5, 7, 9}

In [48]:
# 9. Find the union of two sets.
a={1,2,3,4,5,6}
b={7,8,9,4,2,3,11,56}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 56}

In [49]:
# 10. Find the intersection of two sets.
a={1,2,3,4,5,6}
b={7,8,9,4,2,3,11,56}
c=a.intersection(b)
print(c)

{2, 3, 4}

In [54]:
# 11. Find the difference between two sets.
a={1,2,3,4,5,6}
b={7,8,9,4,2,3,11,56}
c=a.difference(b)
print(c)

{1, 5, 6}

In [58]:
# 12. Check if a set is a subset of another set.
a={1,2,3,4,5,6}
b={7,8,9,4,2,3,11,56}
a.issubset(b)

False

In [59]:
# 13. Check if a set is a superset of another set.
a={1,2,3,4,5,6}
b={7,8,9,4,2,3,11,56}
a.issuperset(b)

False

In [61]:
# 14. Create a set from a list.
ls1=[1,2,3,4,5]
set(ls1)

{1, 2, 3, 4, 5}

In [62]:
# 15. Convert a set to a list.
set1={1,2,3,4,5}
list(set1)

[1, 2, 3, 4, 5]

In [17]:
# 16. Remove a random element from a set.
import random
set1={1,2,3,4,5}
random_element=random.choice(list(set1))
set1.remove(random_element)
print(set1)

{1, 2, 4, 5}

In [68]:
# 17. Pop an element from a set.
set1={1,2,3,4,5}
set1.pop()
print(set1)

{2, 3, 4, 5}

In [70]:
# 18. Check if two sets have no elements in common.
a={1,2,3,4,5,6}
b={7,8,9,11,56}
if a.intersection(b):
    print("commen element present")
else:
    print("commen element not present")

commen element not present

In [71]:
# 19. Find the symmetric difference between two sets.
a={1,2,3,4,5,6}
b={7,8,9,11,56}
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 56}

In [74]:
# 20. Update a set with elements from another set.
a={1,2,3,4,5,6}
b={7,8,9,11,56}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 56}

In [ ]:
# 21. Create a set of the first 5 prime numbers.

In [75]:
# 22. Check if two sets are identical.
s1={1,2,3,4,5,6}
s2={7,8,9,4,5,6}
if s1==s2:
    print("identical set")
else:
    print("unidentical sets")

unidentical sets

In [77]:
# 23. Create a frozen set.
animals = frozenset(["cat", "dog", "lion"])

In [78]:
# 24. Check if a set is disjoint with another set.
a={1,2,3,4,5,6}
b={7,8,9,11,56}
if a.intersection(b):
    print(" set is not disjoint")
else:
    print(" set is disjoint")

 set is disjoint

In [80]:
# 25. Create a set of squares of numbers from 1 to 5.
{i**2 for i in range(1,6)}

{1, 4, 9, 16, 25}

In [82]:
# 26. Filter out all even numbers from a set.
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [83]:
# 27. Multiply all elements in a set by 2.
{i*2for i in range(10)}

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [ ]:
# 28. Create a set of random numbers.

In [85]:
# 29. Check if a set is empty.
a_1={1,2,3,4,5,6}
if len(a_1)==0:
    print("empty set")
else:
    print("set is not empty")

set is not empty

In [20]:
# 30. Create a nested set (hint: use frozenset).
set1={1,2,3,4,5}
set2={7,8,9}
set1=frozenset(set1)
set2=frozenset(set2)
set4={set1,set2}
print("nestedset=",set4)

nestedset= {frozenset({1, 2, 3, 4, 5}), frozenset({8, 9, 7})}

In [21]:
# 31. Remove an element from a set using the discard method.
set1={1,2,3,4,5}
set1.discard(2)
print(set1)

{1, 3, 4, 5}

In [24]:
# 32. Compare two sets.
set1={1,2,3,4,5}
set2={7,8,9,6}
if len(set1)==len(set2)and set1==set1.intersection(set2):
    
    print("set is equal")
else:
    print("not equal set")

not equal set

In [25]:
# 33. Create a set from a string.
str1="ubaid"
set(str1)

{'a', 'b', 'd', 'i', 'u'}

In [34]:
# 34. Convert a set of strings to a set of integers.
set_str={"1","5","8","4"}
set_int=set()
for i in set_str:
    integer=int(i)
    set_int.add(integer)
print(set_int)

{8, 1, 4, 5}

In [36]:
# 35. Convert a set of integers to a set of strings.
set_str=set()
for i in set_int:
    string=str(i)
    set_str.add(string)
print(set_str)

{'8', '4', '5', '1'}

In [37]:
# 36. Create a set from a tuple.
tuple1=(1,2,3,4,5)
tuple2=set(tuple1)
print(tuple2)

{1, 2, 3, 4, 5}

In [41]:
# 37. Convert a set to a tuple.
tuple(i for i in tuple2)

(1, 2, 3, 4, 5)

In [43]:
# 38. Find the maximum value in a set.
set_1={7,8,9,4,54,7,89,21}
max(set_1)

89

In [44]:
# 39. Find the minimum value in a set.
set_1={7,8,9,4,54,7,89,21}
min(set_1)

4

In [46]:
# 40. Create a set from user input.
set_user=set(input("enter the value in sets"))
print(set_user)

enter the value in sets 1,2,3,4,7,8

{'8', '1', '7', '3', '2', ',', '4'}

In [1]:
# 41. Check if the intersection of two sets is empty.
seta={1,1,2,4,7,8,9}
setb={3,6,10,45,78,96}
if seta.intersection(setb)==set():
    
    print("intersection of two set is empty")
else:
    print("intersection of two set is not empty")

intersection of two set is empty

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers.

In [2]:
# 43. Remove duplicates from a list using sets.
l_set=[1,2,4,5,8,7,4,5,2,6,1,9,3,4,7]
l_set2=set(l_set)
print(l_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
# 44. Check if two sets have the same elements, regardless of their count.
set_a={1,2,3,4}
set_b={1,2,3,4}
if set_a==set_b:
    print("same set")
else:
    print("not same ")

same set

In [6]:
# 45. Create a set of the first `n` powers of 2.
n=int(input("please give the range"))
{2**i for i in range(n)}

please give the range 10

{1, 2, 4, 8, 16, 32, 64, 128, 256, 512}

In [7]:
# 46. Find the common elements between a set and a list.
lset=[1,2,3,4,5]
set_common={7,8,9,4,2,1}
lset1=set(lset)
x=lset1.intersection(set_common)
print("common elements are:",x)

common elements are: {1, 2, 4}

In [8]:
# 47. Create a set of the first `n` triangular numbers.
n=int(input("please give the range"))
{3**i for i in range(n)}

please give the range 10

{1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683}

In [15]:
# 48. Check if a set contains another set as a subset.
set_subset={1,2,4,5,7}

In [ ]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n=10
i=0
while i<=10:
    print("1 0")

In [18]:
# 50. Merge multiple sets into one.
setx={1,2,4,5}
sety={7,8,9,5}
setu={4,5,6,8}
setr={78,420,69}
setg=setx.union(sety)
setd=setg.union(setu)
seth=setd.union(setr)
print(seth)

{1, 2, 4, 5, 6, 7, 8, 9, 420, 69, 78}